@use "variables" as *;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;   /* CLAVE: que los hijos se estiren */
}

body{
  font-family: var(--font-ui);
  color: var(--text);

  background-image: url("../assets/background0.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

