@use "./variables" as *;

footer{
  padding: 30px 20px;
  background-color: $footer;
}

.footer-inner{
  max-width: 1080px;
  margin: 0 auto;
}

footer a{
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 64px;
  font-weight: 600;

  border-radius: 12px;
  transition: background .3s ease;
  text-decoration: none;
  color: inherit;
}

footer a:hover{
  background: rgba(233, 221, 206, 0.45);
}

footer i{ font-size: 1.2rem; }

.footer-copyright{
  margin-top: 24px;
  padding-top: 10px;
  text-align: center;
  font-size: .9rem;
  opacity: .75;
  border-top: 1px solid rgba(255,255,255,0.25);
}

footer address{
  font-style: normal;
  margin: 0;
}