@font-face{
  font-family: "Billionaire";
  src: url("../fonts/billionaire_2/BillionaireMediumGrunge.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica/Coolvetica Rg Cond.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}